@import "./scss/imports";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

:root {

    // --dark: #282625;

}
html {

    font-size: calc(var(--font-size) / 20 * 16);

}
header {

    width: 100%;
    padding-top: 25vh;

}
main {

    max-width: var(--max);
    padding: 0 40px;
    box-sizing: border-box;
    margin: 0px auto;
    animation: fadein 1s;
    font-weight: 300;

    p, h2, h3, h4, blockquote {

        padding: 0;
        max-width: none;
        width: 100%;
        margin: 20px auto;

    }

    + main {

        padding-top: 0;

    }
    
}
aside {

    display: block;

    h2 {

        font-size: 1.3em;
        transition: background-color .4s;
        background: transparent;

        &:hover {

            background: rgba(white, .1);

        }

    }

}
article, aside {

    padding: 40px 0;

    h2 {

        position: relative;
        top: 0;
        z-index: 0;

    }
    p {

        font-size: 1rem;

    }
    ul, ol, blockquote, p {

        line-height: 1.8em;
        letter-spacing: .05em;

    }
    blockquote {

        font-size: .8em;
        padding-left: 30px;
        box-sizing: border-box;
        color: white;
        position: relative;
        letter-spacing: .03em;
        font-style: italic;

        &:before {

            @keyframes move {
                to { background-position: 0 500px; }
            }

            content: '>';
            position: absolute;
            left: 2px;
            top: 0;
            height: 100%;
            width: 1px;
            background: svg-flexible($svg-rainbow-definition, '<rect x="0" y="0" width="1" height="1" fill="url(#rainbow)" style="transform-box: content-box; transform-origin: 50% 50%; transform: rotateZ(90deg)"/>') repeat-y 0 0 / 100% 500px;
            color: transparent;
            animation: move 2s infinite linear;
            font-style: italic;

        }
    
    }
    ul, ol {

        font-size: 1em;
        padding-left: 0;
        font-size: 1rem;
        
        li {

            padding: 0;

            &:before {

                @keyframes rainbow {
                    from { background-color: red; }
                    15% { background-color: orange; }
                    30% { background-color: yellow; }
                    45% { background-color: limegreen; }
                    60% { background-color: teal; }
                    75% { background-color: blue; }
                    90% { background-color: purple; }
                }

                display: inline-block;
                content: '-';
                width: .3em;
                height: .3em;
                margin: .35em .5em .2em .25em;
                background: red;
                border-radius: .5em;
                color: transparent;
                overflow: hidden;
                animation: rainbow 15s infinite linear;

                .accessibility-enabled & {

                    background: white !important;
                    animation: none;
                    font-weight: bold;

                }
    
            }

            &:nth-child(even):before {
    
                animation-delay: -2.5s;
    
            }

        }

    }
    ol {
        
        counter-reset: list;

        li {

            display: flex;
            align-items: center;

            &:before {

                font-size: .5em;
                width: 1em;
                height: 1em;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: .5em 1em .5em .5em;
                padding: .5em;
                color: black;
                counter-increment: list;
                content: counter(list);
                border-radius: 50%;
    
            }

        }

    }
    pre, code {

        font-size: .75em;

        .keyword {

            @include rainbow-text-overlay;

            animation-duration: 20s !important;

        }

    }
    pre {

        position: relative;
        padding: 20px;
        background: rgba(255,255,255,.02);
        line-height: 1em;

    }
    img, svg {

        max-width: 50%;
        margin: 50px auto;
        display: block;

    }
    img {

        width: 100%;
        max-width: 100%;
        transition: max-height 1s;
        object-fit: cover;
        object-position: 50% 50%;
        cursor: pointer;
        max-height: 100vh;

        &:not(.expanded){

            max-height: 120px;

        }

    }
    p, h2, h3, h4, ul, ol, .link, .button, .permalink {

        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
        
    }
    img, pre, blockquote {

        margin-top: 40px;
        margin-bottom: 40px;

    }

}
article {

    padding: 200px 0;
    background-image: svg(
        '<path id="left" d="M0.871,0.516l-0.118,-0.103l-0.092,0.09l-0.057,-0.01l0.057,0.072l0.076,-0.049l0.132,0.071l0.131,-0.154l-0.129,0.083Z" fill="white" />'
        '<path id="right" d="M0.396,0.493l-0.057,0.01l-0.092,-0.09l-0.117,0.103l-0.13,-0.083l0.132,0.154l0.132,-0.071l0.075,0.049l0.057,-0.072Z" fill="white" />'
        '<path id="circle" d="M0.493,0.579c0.043,0 0.078,-0.035 0.078,-0.079c0,-0.044 -0.035,-0.079 -0.078,-0.079c-0.043,-0 -0.078,0.035 -0.078,0.079c-0,0.044 0.035,0.079 0.078,0.079" fill="white" />'
    ), svg(
        '<path id="left" d="M0.871,0.516l-0.118,-0.103l-0.092,0.09l-0.057,-0.01l0.057,0.072l0.076,-0.049l0.132,0.071l0.131,-0.154l-0.129,0.083Z" fill="white" />'
        '<path id="right" d="M0.396,0.493l-0.057,0.01l-0.092,-0.09l-0.117,0.103l-0.13,-0.083l0.132,0.154l0.132,-0.071l0.075,0.049l0.057,-0.072Z" fill="white" />'
        '<path id="circle" d="M0.493,0.579c0.043,0 0.078,-0.035 0.078,-0.079c0,-0.044 -0.035,-0.079 -0.078,-0.079c-0.043,-0 -0.078,0.035 -0.078,0.079c-0,0.044 0.035,0.079 0.078,0.079" fill="white" />'
    );
    background-position: left 50% top 50px, left 50% bottom 50px;
    background-size: auto 100px;
    background-repeat: no-repeat, no-repeat;

    + aside {

        padding-top: 0;

    }

    &:first-child {

        padding-top: 0;
        background-position: left 200% top 500%, left 50% bottom 50px;

    }

    main + main &:first-child {

        padding: 200px 0;
        background-position: left 50% top 50px, left 50% bottom 50px;

    }

}
pre, code {

    font-family: 'DM Mono', monospace;

}
nav h1 {

    opacity: calc(1 - var(--scroll-off-nav, 0) * .5 );
    transform: translate(-50%,calc(var(--scroll-off-nav, 0) * -30% - 45% )) rotate3d(0,0,0,0deg);
    transition: opacity .1s, transform .1s;

    .bottomed-out & {

        opacity: 1;
        transform: translate(-50%,-55%);
        transition: opacity 1s, transform 2s;
        
    }

    &:hover,
    .accessibility-enabled & {

        opacity: 1;
        transform: translate(-50%,-45%) !important;

    }
    
}

.details {

    opacity: .5;
    margin-bottom: 0;

    + h2, + h3 {

        margin-top: 0px;

    }

    .accessibility-enabled & {

        opacity: 1;

    }

}
.permalink {

    background: url(./resources/logo-white.svg) no-repeat 0% 50% / contain;
    color: transparent;
    display: block;
    width: 100%;
    box-sizing: border-box;
    opacity: .25;

    .accessibility-enabled & {

        color: white;
        padding-left: 30px;
        opacity: 1;

    }

}
.load-more {

    width: 100%;
    margin-left: 0;
    text-align: center;
    background: #282625;
    background: #383635;
    font-size: 0;

    &:before {

        content: '+';
        font-size: 1rem;

    }
    &:after {

        transform: translateX(-50%) scale(1);

    }

    &:hover {

        background: #3b3a39;
        transition: background-color .5s;
     
        &:before {

            @include rainbow-text-overlay;

            animation-duration: 60s !important;

        }   

    }

    &.loading {

        background: transparent;
        transition: background-color .4s;

        &:before {

            @include rainbow-text-overlay;

            content: 'Fetching Content...';
            font-size: 1rem;
            animation-duration: 6s !important;

        }

    }

}