@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;500&display=swap');
@import "./scss/functions";

@mixin small(){

    @media all and (max-width:500px){

        @content;

    }

}

@keyframes rotate { to { transform: rotateZ(360deg); } }
@keyframes fadein { from { opacity: 0; } }
@keyframes fadeout { to { opacity: 0; } }
@keyframes scaleMiddle { 50% { transform: scale(1.1); } }
@keyframes white-in-out { 50% { background-color: white; } }
@keyframes slidein { from { max-width: 0; } }
@keyframes slideout { to { max-width: 0; } }
@keyframes none { to { transform: translateX(0); } }
@keyframes rotate { to { transform: rotateZ(360deg); } }
@keyframes slideup { from { transform: translateY(100%); } }
@keyframes slidedown { from { transform: translateY(-100%); } }
@keyframes slideright { from { transform: translateX(-100%); } }
@keyframes slideleft { from { transform: translateX(100%); } }
@keyframes heightin { from { max-height: 0; } }
@keyframes heightout { to { max-height: 0; } }
@keyframes marginbottomin { from { margin-bottom: 0; } }
@keyframes marginbottomout { to { margin-bottom: 0; } }
@keyframes textin { from { color: transparent; } }
@keyframes action-button-in { from { transform: scale(0); } }
@keyframes scaleup { from { transform: scale(2); } }

%appearance-none {

    appearance: none;
    -webkit-appearance: none;

}
%button-icon {

    width: 3em;
    height: 3em;
    overflow: hidden;
    color: transparent;
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: 50% 50%;

}

:root {
    --green: limegreen;
    --blue: dodgerblue;
    --dark: #111;
    --light: #fff;
    --red: red;
    --gray: slategray;
    --yellow: gold;
    --padding: 20px;
    --accent: orangered;
    --font-title: 'Vampiro One', 'Impact';
    --font-body: 'Gothic A1', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --ps-triangle: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"><path d="M .5 .1 L .9 .8 L .1 .8 z" stroke="black" stroke-width=".1" fill="none" /></svg>');
    --ps-square: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"><rect x=".2" y=".2" width=".6" height=".6" stroke="black" stroke-width=".1" fill="none" /></svg>');
    --ps-circle: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"><circle cx=".5" cy=".5" r=".4" stroke="black" stroke-width=".1" fill="none" /></svg>');
    --ps-cross: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"><path d="M .2 .2 L .9 .9 M .2 .9 L .9 .2" stroke="black" stroke-width=".1" fill="none" /></svg>');
}

html {

    font-size: 20px;

}
html, body {

    height: 100%;

}
body, ul, ol, li, h1, h2, h3, dl, dt, dd, blockquote {

    padding: 0;
    margin: 0;
    font-size: 1rem;
    list-style: none;

}
body {

    font-family: var(--font-body);
    background: var(--dark);
    color: var(--light);
    font-weight: 200;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;

}
a {

    text-decoration: none;
    color: inherit;
    
}

.hidden {

    position: fixed !important;
    top: -999999px !important;
    left: -999999px !important;

}